html, body {
  margin: 0;
  padding: 0;
  background-color: darkgray;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: 2em;
    display: block;
    width: 600px;
}

h1 {text-align: center;}
h4 {text-align: center;}
p {text-align: center;}
p1 {padding-left: 2vw; top: 12vw;}


